.board{
    width: 640px;
    height: 640px;
    border: 10px solid #673317;
}
.square{
    float: left;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.black{
    background-color: rgb(71, 65, 65);
}
.white{
    background-color: white;
}
.figure{
    font-size: 60px;
    cursor: pointer;

}